rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Allow users to upload and access any file under their own userId directory
    match /{userId}/{allPaths=**} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
